{% extends 'base.html.twig' %}

{% block title %}CharacterClass index{% endblock %}

{% block body %}
    <h1>CharacterClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>HealthDice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character_class in character_classes %}
            <tr>
                <td>{{ character_class.id }}</td>
                <td>{{ character_class.name }}</td>
                <td>{{ character_class.description }}</td>
                <td>{{ character_class.healthDice }}</td>
                <td>
                    <a href="{{ path('app_character_class_show', {'id': character_class.id}) }}">show</a>
                    <a href="{{ path('app_character_class_edit', {'id': character_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_class_new') }}">Create new</a>
{% endblock %}
